html{ 
background-color: white;
color:black;
font-style: italic;
}
 
body{
background-image: url(https://media.istockphoto.com/id/1090972918/photo/woman-flying-blue-dress-fashion-model-dancing-in-long-waving-gown-fluttering-fabric-white.jpg?s=1024x1024&w=is&k=20&c=SETTNqpM4kMiQOsDJEzNHp4ToBGMXCppqk5yfdLtl4Y=)
}


    

